<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">

</head>
<body>
<p>name:{{data.name}}
    <br>
    email={{data.email}}
</p>
<form method="POST" action="">
    {% csrf_token %}
<label for="doctor">Select doctor:</label>
    <select id="doctor" name="doctor" required>
{% for dr in doctors %}
        <option value={{dr}}>{{dr}}</option> 
{% endfor %}

</select><br><br>
<input type="submit" value="submit"/>
</form>
</body>
</html>