{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <title>Document</title>
</head>

<header>
  <div class="container">
    <div class="logo-box">
        <a href="#logo" class="logonav"><img class="logonav" src="{% static 'images/logo.jpg' %}" alt="logo">
    </div>
      <nav>
          <ul>
            
              
              
              
              <li><a href="/logout/">LOGOUT</a></li>
          </ul>
      </nav>
  </div>
</header>