{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <title>Document</title>
</head>

<header>
  <div class="container">
    <div class="logo-box">
      <a href="#logo" class="logonav"><img class="logonav" src="{% static 'images/logo.jpg' %}" alt="logo" height="70px">
  </div>
      <nav>
          <ul>
            {% if request.user.is_anonymous or not request.user.is_authenticated %}

            <li><a href="/register/">REGISTER</a></li>
              <li><a href="">CHATBOT</a></li>
              <li><a href="/searchdr/">MY DR</a></li>
              <li><a href="{% url 'profilep'  %}">PROFILE</a></li>  
             
              {% else %}
              <li><a href="">CHATBOT</a></li>
              <li><a href="/searchdr/">MY DR</a></li>
              <li><a href="{% url 'profilep'  %}">PROFILE</a></li>  
              <li><a href="/logout/">LOGOUT</a></li>
              {% endif %}
          </ul>
      </nav>
  </div>
</header>